{% extends 'main/base.html' %}

{% load i18n %}
{% load static %}
{% load portfolio_extras %}


{% block meta_description %}{% translate 'Portfolio of a web developer specializing in Python, Django, and Vue. Explore my projects and works created using modern technologies to build efficient web applications and websites.' %}{% endblock meta_description %}
{% block meta_keywords %}{% translate 'portfolio, web development, Python, Django, Vue, projects, web developer, website development, web applications, Python projects, Django projects, Vue projects' %}{% endblock meta_keywords %}

{% block title %}{{ object.name }}{% endblock title %}

{% block stylesheet %}{% endblock stylesheet %}


{% block nav_portfolio %} active" aria-current="page{% endblock nav_portfolio %}


{% block content %}

<section class="container px-4 py-5" style="margin-top: 5rem;">
  <h1 class="display-4 fw-normal text-center">{{ object.name }}</h1>
  <p class="fw-light text-muted text-center">
    {{ object.start_date|date:'M Y' }}
    {% if object.end_date %}
    - {{ object.end_date|date:'M Y' }}
    {% endif %}
  </p>

  <div class="text-center my-5">
    <div id="carouselProjectImage" class="carousel carousel-dark slide shadow-lg mb-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselProjectImage" data-bs-slide-to="0" class="active" aria-current="true" aria-label="{% translate 'Slide' %} 0"></button>
        {% for value in object.projectimage_set.count|range_value %}
        <button type="button" data-bs-target="#carouselProjectImage" data-bs-slide-to="{{ value }}" aria-label="{% translate 'Slide' %} {{ value }}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ object.cover.url }}" class="d-block w-100" alt="{% translate 'Cover' %}">
        </div>
        {% for object_image in object.projectimage_set.all %}
        <div class="carousel-item">
          <img src="{{ object_image.image.url }}" class="d-block w-100" alt="{% translate 'Image' %}">
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-lg-8 mx-auto lead mb-4 py-3" align="justify">
      {{ object.translated_description|linebreaks }}
    </div>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      {% if object.project_url %}
      <a class="btn btn-primary btn-lg px-4 me-sm-3" target="_blank" href="{{ object.project_url }}">{% translate 'View Site' %}</a>
      {% endif %}
      {% if object.code_url %}
      <a class="btn btn-outline-primary btn-lg px-4 me-sm-3" target="_blank" href="{{ object.code_url }}">{% translate 'View Code' %}</a>
      {% endif %}
    </div>
  </div>
</section>

{% endblock content %}


{% block javascript %}{% endblock javascript %}
