{% load i18n %}
<h3 style="text-align: center;">{% translate 'Message' %}</h3>

<p>
  {% translate 'Name' %}: {{ form_name }}<br>
  {% translate 'Email' %}: {{ form_email }}<br>
  {% translate 'Content' %}: {{ form_content|linebreaks }}
</p>
<br>

<hr>
<p style="color: #666; font-size: 12px; text-align: center;">
  <br>
  <em>&copy; 2021 <a href="{{ SITE_HOST }}">{{ SITE_NAME }}</a> • Web Developer (Python/Django)</em>
  <br>
  <br>
  <em>{% translate 'This is an automatic letter, do not reply to it.' %}</em>
</p>
